mixin postCard(post, resourceUser)
    .post-card
        .post-card__image-wrapper
                .avatar(style=`background-image: url('/uploads/${resourceUser ? resourceUser.photo : user.photo}')`)

        .post-card__content-wrapper
                h1.post-card__title= `${post.title},`
                p= post.body.split(' ').slice(0, 8).join(' ')
                
                .post-card__details
                        p= resourceUser ? resourceUser.name : user.name 
                        p= post.created
                