mixin postCard(post, resourceUser)
    .post-card
        .post-card__image-wrapper
                .avatar(style=`background-image: url('/uploads/${post.author.photo}')`)

        .post-card__content-wrapper
                h1.post-card__title= `${post.title},`
                p= post.body
                
                .post-card__details
                        p= post.author.name
                        p= h.moment(post.created).fromNow()
                