mixin userCard(user, posts, displayUserButtons)
    .user-card__content
        .user-card-avatar__wrapper 
            .user-card__avatar.avatar(style=`background-image: url('/uploads/${user.photo}');`)
        h1= user.name
        h2 Better be good
    .user-card__stats
        .stats-wrapper
            h4 following
            h2= user.following ? user.following.length : 0
        .stats-wrapper
            h4 followers
            h2= user.followers ? user.followers.length : 0
        .stats-wrapper
            h4 posts
            h2= posts ? posts.length : 0
        .stats-wrapper
            h4 average
            h2 9.6
    .user-card-btn__wrapper-squared
        if displayUserButtons
            form(action=`/api/users/${user._id}/follow` method="POST")
                - const followersStrings = user.followers.map(obj => obj.toString());
                - const followButtonClass = followersStrings.includes(user._id.toString()) ? 'unfollow' : 'follow';
                button(type="submit" class=`follow ${followButtonClass}` name="follow") follow

            a(href="#")
                .btn.btn__large.btn__ghost
                    p message

    .user-card-btn__wrapper-rounded
        .btn.btn__circle
            a(href="#")
                != h.icon('edit')