mixin userCard(posts, displayUserButtons, resourceUser, reqUserPostsTotal)
    .user-card__content
        .user-card-avatar__wrapper 
            .user-card__avatar.avatar(style=`background-image: url('/uploads/${resourceUser ? resourceUser.photo : user.photo}');`)
        h1= resourceUser ? resourceUser.name : user.name
        h2 Watch yourself
    .user-card__stats
        .stats-wrapper
            h4 following
            h2= user.following ? user.following.length : 0
        .stats-wrapper
            h4 followers
            h2= user.followers ? user.followers.length : 0
        .stats-wrapper
            h4 posts
            h2= reqUserPostsTotal
        .stats-wrapper
            h4 popular
            if user.followers.length < 2
                h2 0
            else if user.followers.length < 10
                h2 1.5
            else if user.followers.length < 15
                h2 3.2
            else if user.followers.length < 20
                h2 4.6
            else if user.followers.length < 25
                h2 6.8
            else 
                h2 0 

    .user-card-btn__wrapper-squared
        if displayUserButtons
            form(action=`/api/users/${user._id}/follow` class='user-card__follow-form' method="POST")
                - const followersStrings = user.followers.map(obj => obj.toString());
                - const followButtonClass = followersStrings.includes(user._id.toString()) ? 'unfollow' : 'follow';
                button.btn__large.btn__ghost(type="submit" class=`follow ${followButtonClass}` name="follow")
                    p= followButtonClass

            form
                button.btn__large.btn__ghost
                    p message

    .user-card-btn__wrapper-rounded
        .btn.btn__circle
            a(href="#")
                != h.icon('edit')